mixin last-articles(data)
	.last-articles
		.last-articles__column
			+article-item('470x353')._big
		.last-articles__column
			+article-item('231x173')._small
			+article-item('231x173')._small
			+article-item('231x173')._small
			+article-item('231x173')._small
