extends ./layout.jade

block variables
	- var page = '404'

block content
	+breadcrumbs
	.page-404
		img(src="%=static=%images/content/page-404.png" alt="").page-404__image
		.page-404__title Извините! Страница, которую вы запросили,<br> не находится в нашей базе данных.
		.page-404__description Скорее всего вы попали на битую ссылку или опечатались при вводе URL.
		a(href="#" title="").button.page-404__button На главную страницу