extends ./layout.jade
block content
	+breadcrumbs
	.content__items-wrapper
		.content__items-inner
			+filter
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+clinic-item('151x53')
			+pagination
	+help-search-doctor
block sidebar
	+recommend-read
	+our-offer__search-wrapper
	+our-offer__search-wrapper
	+interview._blue
	+services
	+interview._purple
	+widget
