extends ./layout.jade

block content
	+breadcrumbs
	h1.title-page Врачи
	.content__items-wrapper
		.content__items-inner
			+filter
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+pagination
	+help-search-doctor
block sidebar
	.sidebar__recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar__our-offer
		+our-offer__search-wrapper._good-doctor
		+our-offer__search-wrapper._good-clinic
	+interview._blue
	.sidebar__services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
