extends ./layout.jade

block content
	+breadcrumbs
	h1.content__title Врачи
	.content-items-wrapper
		.content-items-wrapper__inner
			+filter
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+card-doctor('148x201')
			+pagination
	+help-search-doctor
block sidebar
	.sidebar-recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar-our-offer
		+our-offer._small._doctor
		+our-offer._small._clinic
	+interview._blue
	.sidebar-services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
