extends ./layout.jade
block content
	+breadcrumbs
	+search-desease
	.articles-middle-view
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
block sidebar
	+recommend-read
	+our-offer__search-wrapper
	+our-offer__search-wrapper
	+interview._blue
	+services
	+interview._purple
	+widget
