extends ./layout.jade
block content
	+breadcrumbs
	h1.title-page Здоровье от А до Я
	+search-desease
	.articles-middle-view
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
	+pagination-second
	+help-search-doctor
block sidebar
	.sidebar__recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar__our-offer
		+our-offer._small._doctor
		+our-offer._small._clinic
	+interview._blue
	.sidebar__services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
