extends ./layout.jade

block content
	+last-articles
	+articles-small-view
	+our-offers
	.articles-middle-view
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
	+help-search-doctor
block sidebar
	+recommend-read
	+recommend-read-item('50x50')
	+recommend-read-item('50x50')
	+recommend-read-item('50x50')
	+recommend-read-item('50x50')
	+recommend-read-item('50x50')
	+recommend-read-item('50x50')
	+interview._blue
	+services
	+interview._purple
	+widget
