extends ./layout.jade

block content
	+last-articles
	+articles-small-view
	+our-offers
	+articles-middle-view
	+help-search-doctor
block sidebar
	+recommend-read
	+interview._blue
	+services
	+interview._purple


