doctype html
html(class="no-js", lang="ru")

	include ../components/head/head
	include ../components/header/header
	include ../components/last-articles/last-articles
	include ../components/article-item/article-item
	include ../components/articles-small-view/articles-small-view
	include ../components/article-small-view/article-small-view
	include ../components/our-offers/our-offers
	include ../components/our-offer/our-offer
	include ../components/articles-middle-view/articles-middle-view
	include ../components/article-middle-view/article-middle-view
	include ../components/help-search-doctor/help-search-doctor
	include ../components/recommend-read/recommend-read
	include ../components/recommend-read-item/recommend-read-item
	include ../components/interview/interview
	include ../components/services/services
	include ../components/service-item/service-item
	include ../components/widget/widget
	include ../components/breadcrumbs/breadcrumbs
	include ../components/filter/filter
	include ../components/card-doctor/card-doctor
	include ../components/pagination/pagination
	include ../components/our-offer__search/our-offer__search
	include ../components/our-offer__search-wrapper/our-offer__search-wrapper
	include ../components/clinic-item/clinic-item
	include ../components/category/category
	include ../components/category-item/category-item
	include ../components/search-desease/search-desease
	include ../components/search-desease-item/search-desease-item
	include ../components/pagination-second/pagination-second
	include ../components/single-content/single-content
	include ../components/social-share/social-share
	include ../components/comments/comments
	include ../components/footer/footer

	head
		+head(head.defaults)
	body
		block header
			+header
		main.main
			.content
				block content
			.sidebar
				block sidebar
		block footer
			+footer			
		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/main%=hash=%%=min=%.js')