extends ./layout.jade
block content
	+breadcrumbs
	.categories-wrapper
		.category
			+category
			.category-list
				+category-item
		.category
			+category
			.category-list
				+category-item
		.category
			+category
			.category-list
				+category-item
block sidebar
	+recommend-read
	+our-offer__search-wrapper
	+our-offer__search-wrapper
	+interview._blue
	+services
	+interview._purple
	+widget
