extends ./layout.jade
block content
	+breadcrumbs
	h1.title-page Карта сайта
	.categories-wrapper
		.category
			+category
			.category-list
				+category-item
		.category
			+category
			.category-list
				+category-item
		.category
			+category
			.category-list
				+category-item
block sidebar
	.sidebar__recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar__our-offer
		+our-offer__search-wrapper
		+our-offer__search-wrapper
	+interview._blue
	.sidebar__services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
