extends ./layout.jade
block content
	+breadcrumbs
	+single-content
	+comment
	+comment
	+social-share
	.side-small-line Читайте также
	.articles-small-view
		+article-small-view('104x77')
		+article-small-view('104x77')
		+article-small-view('104x77')
		+article-small-view('104x77')
		+article-small-view('104x77')
		+article-small-view('104x77')
	.side-small-line Комментарии <span>(5)</span>
	+comments
block sidebar
	.sidebar__recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar__our-offer
		+our-offer._small._doctor
		+our-offer._small._clinic
	+interview._blue
	.sidebar__services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
