extends ./layout.jade

block content
	+breadcrumbs
	.articles-middle-view
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
	+pagination-second
	+help-search-doctor
block sidebar
	.sidebar__recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar__our-offer
		+our-offer__search-wrapper
		+our-offer__search-wrapper
	+interview._blue
	.sidebar__services
		+services
		+service-item
		+service-item
		+service-item
		+service-item
	+interview._purple
	+widget
