extends ./layout.jade

block content
	+breadcrumbs
	h1.content__title Обследования и анализы
	.articles-middle-view
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
		+article-middle-view('304x228', false)
	+pagination
	+help-search-doctor
block sidebar
	.sidebar-recommend-read
		+recommend-read
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
	.sidebar-our-offer
		+our-offer._small._doctor
		+our-offer._small._clinic
	+interview._blue
	.sidebar-services
		+services
		+service-item._check-symptom
		+service-item._transcript-analyzes
		+service-item._tests
		+service-item._cardio-risk
	+interview._purple
	+widget
