mixin help-search-doctor(data)
	.help-search-doctor
		h1.main-title._bold._big-title Поможем найти врача
		.help-search-doctor__description
			p Нарушение последовательности и частоты сокращений сердца – это аритмия. Тахикардия же проявляется по-другому. Она заключается в снижении ритма сердечных сокращений до 60-40 единиц в минуту. Эти два состояния имеют существенные различия и в лечении, в том числе и народными средствами. Ниже описаны методы терапии обоих заболеваний.
			p Такие заболевания, как тахикардия и аритмия, часто путают между собой. Второе понятие более широкое и включает любые нарушения темпа и ритма сокращений сердечной мышцы. Самой опасной является мерцательная аритмия. Частота пульса при ней достигает очень высоких значений – до 100-150 ударов в минуту. Провоцирующими развитие аритмии заболеваниями являются атеросклероз, ишемия или порок сердца. Причиной могут быть и нервные напряжения. Тахикардия является разновидностью аритмии наравне с другими