.filter {
	&__counts {
		color: #7ba041;
	}
	&__speciality-wrapper {
		display: flex;

		width: 282px;

		justify-content: space-between;
		@media screen and(max-width: 760px) {
			display: inline-block;

			width: auto;
			margin-bottom: 5px;
		}
	}
	&__text {
		font-size: 18px;
	}
	&__address-wrapper {
		display: flex;

		width: 190px;

		justify-content: space-between;
		@media screen and(max-width: 760px) {
			display: inline-block;

			width: auto;
			margin-left: 31px;
		}
		@media screen and(max-width: 480px) {
			display: block;

			margin-left: 0;
		}
	}
	&__select {
		padding-bottom: 3px;

		cursor: pointer;

		color: $dark-blue;
		border-bottom: 1px dotted $black;

		font-size: 18px;

		@include transition;
		@media screen and(max-width: 480px) {
			display: inline-block;
		}
		&:hover {
			color: $blue;
			border-color: lighten($black, 2%);
		}
	}
	&__content {
		margin-top: 15px;
		padding: 18px 0 13px 0;

		border-radius: 5px;
		background-color: #f0f0f0;
	}
	&__content-inner {
		display: flex;

		width: 563px;
		margin-left: 17px;

		justify-content: space-between;
		@media screen and(max-width: 760px) {
			display: block;

			width: 100%;
		}
	}
	&__label {
		margin-left: 22px;
	}
	&__title {
		margin: 20px 0 24px 0;

		font-size: 20px;
		@media screen and(max-width: 760px) {
			margin-bottom: 9px;

			text-align: center;
		}
		@media screen and(max-width: 480px) {
			font-size: 22px;
		}
	}
	.input-form {
		@media screen and(max-width: 760px) {
			display: table;

			margin: auto;
		}
	}
}

.filter-sortingby {
	display: flex;

	padding-bottom: 11px;

	justify-content: space-between;
	@media screen and(max-width: 760px) {
		display: block;
	}
	&__left {
		display: flex;

		justify-content: space-between;
		@media screen and(max-width: 760px) {
			display: block;
		}
	}
	&__right {
		.checkbox-block {
			@media screen and(max-width: 760px) {
				display: block;

				text-align: center;
			}
		}
	}
	&__text {
		text-align: center;
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}
	}
	&__item {
		margin-top: -4px;
		margin-left: 7px;
		padding: 3px 6px;

		cursor: pointer;

		color: $dark-blue;
		border: 1px dashed $dark-blue;
		border-radius: 4px;
		@media screen and(max-width: 760px) {
			margin-top: 5px;
			margin-left: 0;

			text-align: center;
		}
		@media screen and(max-width: 480px) {
			margin-bottom: 20px;
			padding-top: 11px;
			padding-bottom: 11px;

			font-size: 17px;
		}
		&:last-child {
			@media screen and(max-width: 760px) {
				margin-bottom: 10px;
			}
		}
	}
}
