.filter {
	&__counts {
		color: #7ba041;
	}
	&__speciality-wrapper {
		width: 282px;
		display: flex;
		justify-content: space-between;
	}
	&__text {
		font-size: 18px;
	}
	&__address-wrapper {
		width: 190px;
		display: flex;
		justify-content: space-between;
	}	
	&__select {
		color: #005497;
		border-bottom: 1px dotted $black;
		cursor: pointer;
		font-size: 18px;
		padding-bottom: 3px;
		@include transition;
		&:hover {
			border-bottom: none;
		}		
	}
	&__content {
		padding: 18px 0 13px 0;
		background-color: #f0f0f0;
		margin-top: 15px;
		border-radius: 5px;
	}
	&__content-inner {
		display: flex;
		justify-content: space-between;
		width: 563px;
		margin-left: 17px;
	}
	&__label {
		margin-left: 22px;
	}
	&__title {
		font-size: 20px;
		margin: 20px 0 24px 0;
	}
	&-sortingby {
		display: flex;
		justify-content: space-between;
		padding-bottom: 11px;
	}
	&-sortingby__left {
		display: flex;
		justify-content: space-between;
	}
	&-sortingby__item {
		cursor: pointer;
		margin-left: 7px;
		color: $dark-blue;
		padding: 3px 6px;
		border: 1px dashed $dark-blue;
		border-radius: 4px;
		margin-top: -4px;
	}
}