.recommend-read-item {
    display: flex;

    padding: 16px 0;

    border-bottom: 1px solid #ddd;
    background-color: #f7f7f7;

    align-items: center;
    justify-content: space-around;
    &__content {
        display: flex;

        width: 250px;
        margin: auto;

        justify-content: space-between;
        img {
            @media screen and(max-width: 1025px) {
                width: 100%;
                height: auto;
            }
        }
    }
    &__right {
        width: 187px;
    }
    &__img {
        display: block;
    }
    &__link {
        text-decoration: none;
        letter-spacing: -.1px;

        color: $blue;
        border-bottom: 1px solid $light-blue;

        @include transition;
        @media screen and(max-width: 480px) {
            font-size: 17px;
        }
        &:hover {
            border-bottom: 1px solid $blue;
        }
    }
    &__meta {
        position: relative;

        display: flex;

        margin-top: 7px;
        margin-left: 17px;

        justify-content: flex-start;
    }
}
