.recommend-read-item {
	display: flex;
    justify-content: space-around;
	align-items: center;
	padding: 16px 0;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
	&__content {
		width: 250px;
		margin: auto;
		display: flex;
		justify-content: space-between;
	}
	&__right {
		width: 187px;
	}
	&__img {
		display: block;
	}
	&__link {
		color: $blue;
	    text-decoration: none;
	    letter-spacing: -0.1px;
	    border-bottom: 1px solid #daeaf6;
	    @include transition;
		&:hover {
			border-bottom: 1px solid $blue;
		}	    
	}
	&__meta {
		display: flex;
    	justify-content: flex-start;
    	margin: 7px 0 0 17px;
    	position: relative;
    }
}