// Common styles of the project
html,body {
	height: 100%;
	font-size: $default-font-size;
	font-family: $font-cuprum;
	color: $black;
}
input, textarea {
    outline: none;
    border: none;
}
ul li {
	list-style: none;
}
.main {
	margin: auto;
	max-width: 1305px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	@media screen and(max-width: 760px) {
		padding-bottom: 37px;
	}	
}
.content__items-wrapper {
	border: 1px solid #ccc;
	padding-top: 28px;
	width: 950px;
	margin: 0 auto 47px auto;
	@media screen and(max-width: 1200px) {
		width: auto;
	}		
	@media screen and(max-width: 1024px) {
		width: auto;
	}
	@media screen and(max-width: 960px) {
		padding-top: 25px;
		width: auto;
		margin: 0 10px 47px 10px;
	}
	@media screen and(max-width: 480px) {
		width: 280px;
		margin: auto;
	}
}
.content__items-inner {
	width: 893px;
	margin: auto;
	@media screen and(max-width: 1200px) {
		width: auto;
	}	
	@media screen and(max-width: 1024px) {
		width: auto;
	}	
	@media screen and(max-width: 960px) {
		width: 100%;
	}
	@media screen and(max-width: 760px) {
		width: 100%;
	}
}
.overlay {
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent;
	display: none;
}