// Common styles of the project

html, body {
    height: 100%;
}

body {
	font-size: $default-font-size;
	font-family: 'Cuprum';
	color: $black;
}
input {
	outline: none;
}
ul {
	list-style: none;
}
.main {
	margin: auto;
	max-width: 1305px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.content__items-wrapper {
	border: 1px solid #ccc;
	padding-top: 28px;
	width: 950px;
	margin: 0 auto 47px auto;
}
.content__items-inner {
	width: 893px;
	margin: auto;
}