// Common styles of the project

html, body {
    height: 100%;
}

body {
	font-size: $default-font-size;
	font-family: 'Cuprum';
	color: $black;
}
input {
	outline: none;
}
.main {
	margin: auto;
	max-width: 1305px;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
