@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Cuprum-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cuprum-Regular.woff') format('woff'), url('../fonts/Cuprum-Regular.ttf')  format('truetype'), url('../fonts/Cuprum-Regular.svg#Cuprum-Regular') format('svg');
}
@font-face
{
    font-family: 'Cuprum';
    font-weight: bold;
    font-style: normal;

    src: url('../fonts/Cuprum-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cuprum-Bold.woff') format('woff'), url('../fonts/Cuprum-Bold.ttf')  format('truetype'), url('../fonts/Cuprum-Bold.svg#Cuprum-Bold') format('svg');
}
@font-face
{
    font-family: 'Cuprum';
    font-weight: normal;
    font-style: italic;

    src: url('../fonts/Cuprum-Italic.eot?#iefix') format('embedded-opentype'),  url('../fonts/Cuprum-Italic.woff') format('woff'), url('../fonts/Cuprum-Italic.ttf')  format('truetype'), url('../fonts/Cuprum-Italic.svg#Cuprum-Italic') format('svg');
}
