.button
{
    display: inline-block;

    cursor: pointer;
    text-decoration: none;

    color: $white;

    @include transition;
    &._light-blue
    {
        border-radius: 8px;
        background: linear-gradient(to bottom,  #6db3ed 0%,#55a1df 100%);
        &:hover
        {
            background: linear-gradient(to bottom,  #55a1df 0%,#6db3ed 100%);
        }
    }
    &._blue
    {
        border-radius: 4px;
        background-color: $blue;
        &:hover
        {
            background-color: lighten($blue, 2%);
        }
    }
    &._purple
    {
        border-radius: 4px;
        background-color: $purple;
        &:hover
        {
            background-color: lighten($purple, 2%);
        }
    }
    &._middle
    {
        padding: 7px 25px;
    }
    &._big
    {
        padding: 10px 50px;
    }
}
.button-second
{
    display: inline-block;

    cursor: pointer;

    color: $dark-blue;
    box-shadow: 0 0 7px rgba($black, .14);
    &:hover
    {
        @include opacity;
    }
    &._print
    {
        position: relative;

        text-decoration: none;
        &:before
        {
            position: absolute;
            top: 12px;
            left: 11px;

            content: '';

            @include bg($print);
        }
    }
    &._dislike
    {
        position: relative;
        &:before
        {
            position: absolute;
            top: 10px;
            left: 9px;

            content: '';

            @include bg($dislike);
        }
    }
    &._like
    {
        position: relative;
        &:before
        {
            position: absolute;
            top: 8px;
            left: 9px;

            content: '';

            @include bg($like);
        }
    }
}
.main-title
{
    color: $dark-blue;
}
.main-title2
{
    color: $blue;
}
._middle-title
{
    font-size: 21px;
}
._big-title
{
    font-size: 38px;
}
._bold
{
    font-weight: bold;
}
._text-center
{
    text-align: center;
}
.input-form
{
    border: none;
    border: 1px solid #cdcdcd;
    border-radius: 5px;
}
.side-small-line
{
    font-size: 20px;

    position: relative;

    margin-bottom: 25px;
    padding-left: 20px;

    text-transform: uppercase;

    color: $dark-blue;
    &:before
    {
        position: absolute;
        top: -3px;
        left: 0;

        width: 3px;
        height: 30px;

        content: '';

        background-color: $blue;
    }
}
.content__title
{
    font-size: 38px;

    color: $dark-blue;
    @media screen and(max-width: 960px)
    {
        font-size: 32px;

        text-align: center;
    }
}
