// global font settings
$font-cuprum: 'Cuprum';
$default-font-size: 16px;

// global colors
$white: #fff;
$black: #000;
$light-black: #333;
$dark-blue: #2f4d6f;
$light-blue: #daeaf6;
$blue: #14a2dd;
$red: #f05364;
$purple: #f05364;
$dark-orange: #9b422a;
$light-silver: #787878;
$silver: #a3a3a3;
$green: #5db026;