mixin pagination-second(data)
	ul.pagination-second
		<li class="pagination-second__goto _prev"><a href="#">Предыдущая</a></li>
		.pagination-second__wrapper-items
			<li class="pagination-second__item _current-item"><a href="#">1</a></li>
			<li class="pagination-second__item"><a href="#">2</a></li>
			<li class="pagination-second__item"><a href="#">3</a></li>
			<li class="pagination-second__item"><a href="#">4</a></li>
			<li class="pagination-second__item"><a href="#">5</a></li>
			<li class="pagination-second__item"><a href="#">6</a></li>
			<li class="pagination-second__item"><a href="#">7</a></li>
			<li class="pagination-second__item"><a href="#">8</a></li>
			<li class="pagination-second__item"><a href="#">9</a></li>
		<li class="pagination-second__goto _next"><a href="#">Следующая</a></li>
