.articles-middle-view {
	display: flex;

	flex-flow: row wrap;
	justify-content: space-between;
	@media screen and(max-width: 960px) {
		padding: 0 10px;
	}
	@media screen and(max-width: 760px) {
		width: auto;
	}
	@media screen and(max-width: 480px) {
		width: 280px;
		margin: auto;
	}
}
