mixin articles-middle-view(data)
	.articles-middle-view
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')
		+article-middle-view('304x228')