mixin single-content(data)
	.single-content
		p Опухоль, которая произрастает из клеток мозговой оболочки, может лечиться без использования хирургического вмешательства. Поэтому при получении такого диагноза стоит первым делом задать себе следующую тему для изучения: менингиома головного мозга лечение без операции. Существуют разные классификации заболевания, которые разделяют опухоли по размеру, форме, местоположению и другим параметрам. В статье рассмотрим, каковы симптомы менингиомы, причины ее появления, как диагностировать проблему и какие способы ее лечения.
		img(src="https://dummyimage.com/700x311/cccccc/000.png" alt="")
		h3 Симптомы проявления менингиомы
		p Большим минусом возникновения и развития менингиомы является отсутствие ярко выраженных симптомов. Человек с такой опухолью может ощущать общие недомогания, но никак не сможет понять, что это заболевание головного мозга. Принято разделять локальные симптомы менингиомы и общемозговые, которые зависят от степени давления на анатомические структуры или мозговые клетки. К первым относят:
		ul.purple-marker
			li Нарушение психического состояния больного, возможные нервные расстройства.
			li Если речь идет о менингиоме орбиты, один или оба глаза могут выходить наружу (экзофальтное состояние).
			li Возможны нарушения работы органов речи и слуха, если опухоль находится в височной части.
			li Может начаться слепота некоторых частей глаз при менингиоме бугорка турецкого седла.
			li Нервные расстройства - последствия менингиомы
		p Основной симптом, который может существовать во всех случаях данного заболевания, заключается в головной боли, но такой признак может стать последствием многих изменений в состоянии организма. Стоит бить тревогу только тогда, если рядом с ним будут хоть и незначительно проявляться вышеуказанные симптомы. К общемозговым признакам менингиом относят более радикальные изменения состояния организма:
		ul.blue-marker
			li Нарушение психического состояния больного, возможные нервные расстройства.
			li Если речь идет о менингиоме орбиты, один или оба глаза могут выходить наружу (экзофальтное состояние).
			li Возможны нарушения работы органов речи и слуха, если опухоль находится в височной части.
			li Может начаться слепота некоторых частей глаз при менингиоме бугорка турецкого седла.
			li Нервные расстройства - последствия менингиомы
		h3 Причины возникновения	
		p Мнения медиков по данному вопросу расходятся. Одни считают, что появление менингиомы головного мозга связано исключительно с генетическим кодом, который предрасположен к развитию данного типа заболеваний. Другие утверждают, что внешние факторы являются основополагающими для того, чтобы в черепе развивалась данная опухоль. Рассмотрим общие причины возникновения менингиом головного мозга:
		ol.number-marker._blue
			li Обширные травмы головы, черепа, мозга.
			li Нейрофиброматоз второй стадии.
			li Крупные дозы рентгеновских облучений и радиоактивных лучей в районе головы.
			li Трудовая деятельность в постоянно плохих условиях.
			li Агрессивное влияние внешней среды (плохая пища, большое количество нитратов как пример).
		h3 Диагностика заболевания головного мозга	
		p Поскольку симптомы менингиомы очень расплывчатые, особенно на ранних стадиях существования такой болезни, то диагностировать заболевание очень трудно. Во многих случаях выявление болезни происходит во время прохождения МРТ (магнитно-резонансная томография) для других целей. Но если существуют подозрения на наличие менингиомы головного мозга, то первым делом выполняется неврологическое исследование, которое затрагивает проверку слуховых органов, зрительных и координацию рефлекторных движений. Далее могут быть назначены:
		ol.number-marker._dark-blue
			li МРТ головного мозга для выявления менингиомы
			li Магнитно-резонансная томография, которая показывает состояние мозга и всех органов под черепом.
			li Компьютерная томография, которая не так часто используется в последнее время по причине наличия более эффективных методов анализа.
			li МР-ангиография, которая показывает все сосуды, питающие анализируемую опухоль головного мозга, и их состояние.
		img(src="https://dummyimage.com/700x350/cccccc/000.png" alt="")
		h3 Анализы и обследования при менингиоме
		p Анализ, который будет подтверждать диагноз – магнитно-резонансная томография (использует магнитные волны, чтобы построить изображение внутри черепа). Как дополнительный элемент исследований, может быть назначена ангиограмма (инъекции, помогающие выделить кровеносные сосуды в коре мозга, питающие опухоль). Прогрессивные врачи могут назначать сдачу анализов крови, которые тоже диагностируют плохое заболевание. В редких случаях может быть назначена и электроэнцефалограмма, фиксирующая активность мозга с использованием электрического тока.
		h3 Методы лечения менингиом
		p В большинстве случаев (по статистике, около 90%) менингиомы являются доброкачественными опухолями, поэтому они развиваются медленно и не поражают важных для жизнедеятельности органов. В случае злокачественных образований скорость их роста значительно быстрее, могут идти метастазы по любым другим частям организма. Рассмотрим эффективные методы борьбы с менингиомой головного мозга.
		img(src="https://dummyimage.com/700x350/cccccc/000.png" alt="")
		h3 Отзывы о методах лечения менингиомы


