mixin search-desease(data)
	.search-desease
		.search-desease-alphabet
			.search-desease-alphabet-inner
				form(method="" action="").search-desease-alphabet__search
					input(type="text" placeholder="быстрый поиск").input-form
				.search-desease-alphabet__text
					a(href="#" title="").search-desease-alphabet__link а
					a(href="#" title="").search-desease-alphabet__link б
					a(href="#" title="").search-desease-alphabet__link в
					a(href="#" title="").search-desease-alphabet__link г
					a(href="#" title="").search-desease-alphabet__link д
					a(href="#" title="").search-desease-alphabet__link е
					a(href="#" title="").search-desease-alphabet__link ё
					a(href="#" title="").search-desease-alphabet__link ж
					a(href="#" title="").search-desease-alphabet__link з
					a(href="#" title="").search-desease-alphabet__link и
					a(href="#" title="").search-desease-alphabet__link й
					a(href="#" title="").search-desease-alphabet__link к
					a(href="#" title="").search-desease-alphabet__link л
					a(href="#" title="").search-desease-alphabet__link м
					a(href="#" title="").search-desease-alphabet__link н
					a(href="#" title="").search-desease-alphabet__link о
					a(href="#" title="").search-desease-alphabet__link п
					a(href="#" title="").search-desease-alphabet__link р
					a(href="#" title="").search-desease-alphabet__link с
					a(href="#" title="").search-desease-alphabet__link т
					a(href="#" title="").search-desease-alphabet__link у
					a(href="#" title="").search-desease-alphabet__link ф
					a(href="#" title="").search-desease-alphabet__link к
					a(href="#" title="").search-desease-alphabet__link ц
					a(href="#" title="").search-desease-alphabet__link ч
					a(href="#" title="").search-desease-alphabet__link ш
					a(href="#" title="").search-desease-alphabet__link щ
					a(href="#" title="").search-desease-alphabet__link ъ
					a(href="#" title="").search-desease-alphabet__link ы
					a(href="#" title="").search-desease-alphabet__link ь
					a(href="#" title="").search-desease-alphabet__link э
					a(href="#" title="").search-desease-alphabet__link ю
					a(href="#" title="").search-desease-alphabet__link я
		.search-desease-speciality
			.search-desease-speciality-inner
				.search-desease-speciality__items
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
				.search-desease-speciality__items
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
				.search-desease-speciality__items
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item
					+search-desease-item										