.search-desease {
	background-color: #f7f7f7;
	margin-bottom: 53px;
	@media screen and(max-width: 960px) {
		padding: 0 10px;
    	margin: 0 auto 32px auto;
    }
	@media screen and(max-width: 760px) {
		width: 280px;
    	padding: 0 10px;
    	margin: 0 auto 32px auto;
    }
	&-alphabet {
		padding: 18px 0;
		border-bottom: 1px solid #e0e0e0;
		&-inner {
			width: 898px;
			margin: auto;
			display: flex;
			justify-content: space-between;
			align-items: center;
			@media screen and(max-width: 960px) {
				width: auto;
			}
			@media screen and(max-width: 760px) {
				display: block;
				width: auto;
			}
		}
		@media screen and(max-width: 760px) {
			&__search {
				margin-bottom: 7px;
			}
		}
		&__text {
			@media screen and(max-width: 960px) {
				display: flex;
				flex-wrap: wrap;
				width: auto;
			}
			@media screen and(max-width: 760px) {
				display: flex;
			    flex-wrap: wrap;
			    width: 280px;
			    justify-content: flex-start;
			    margin: auto;
			}
		}
		&__search .input-form {
			width: 276px;
			height: 34px;
			border: 1px solid #e0e0e0;
			padding-left: 17px;
			font-style: italic;
			margin-bottom: 8px;
			@media screen and(max-width: 760px) {
				width: 280px;
				margin: auto;
    			box-sizing: border-box;
    			display: block;
			}
		}
		&__link {
			font-size: 17px;
			color: $blue;
			margin: 0 4px;
			text-transform: uppercase;
			text-decoration: none;
			border-bottom: 1px solid $light-blue;
			@include transition;
			&:hover {
				border-color: darken($blue, 2%);
			}
			@media screen and(max-width: 760px) {
				width: 30px;
				line-height: 30px;
				border: 1px solid $light-blue;
				text-align: center;
				margin-bottom: 3px;
			}
		}
	}

	&-speciality-inner {
		width: 898px;
		display: flex;
		justify-content: space-between;
		padding: 22px 0 25px 0;
		margin-left: 26px;
		@media screen and(max-width: 960px) {
			width: auto;
		}
		@media screen and(max-width: 760px) {
			display: block;
			width: 280px;
		}
	}
	&-speciality__items {
		width: 200px;
		@media screen and(max-width: 960px) {
			width: 30%;
		}		
		@media screen and(max-width: 760px) {
			width: 250px;
		}
	}	
}