.article-middle-view {
	display: flex;
	justify-content: space-around;
	&__category {
		color: $red;
	    display: block;
	    text-transform: uppercase;
	    font-size: 12px;
	    text-decoration: none;
	    margin: 9px 0 0 13px ;
	}
	&__link {
		color: $blue;
	    display: block;
	    margin-left: 13px;
	    text-decoration: none;
	    letter-spacing: -0.1px;
	}	
}