.article-middle-view {
	margin-bottom: 40px;
	width: 304px;
	&__category {
		color: $red;
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		text-decoration: none;
		margin: 9px 0 0 13px ;
	}
	&__link {
		color: $blue;
		display: block;
		font-size: 20px;
		margin-left: 13px;
		text-decoration: none;
		letter-spacing: -0.1px;
	}
	&__meta {
		display: flex;
    	justify-content: flex-start;
    	margin: 22px 0 0 23px;
    	position: relative;
	}
}