mixin article-middle-view(imagesize)
	.article-middle-view
		img(src="http://placehold.it/#{imagesize}")
		.article-middle-view__content
			a(href="#" title="").article-middle-view__category Мужское здоровье
			a(href="#" title="").article-middle-view__link Лекарства от головокружения у пожилых
			.article-middle-view__meta
				.meta-info._views 15650
				.meta-info._likes 15650