.footer {
	box-shadow: 2px -2px 2px rgba($black, .11);
	padding-bottom: 20px;
	&__wrapper {
		@extend .main;
		align-items: center;
	}
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 0 15px 0;
	&__logo {
		display: block;
		@include bg($logo-footer);
	}	
}
.footer-menu {
	&__list {
		display: flex;
	}
	&__item {
		display: block;
		text-decoration: none;
		font-size: 17px;
		color: $light-silver;
		margin: 0 15px;
		text-transform: uppercase;
		@include transition;
		&:hover {
			text-decoration: underline;
		}		
	}
}