mixin footer(data)
	footer.footer
		a(href="#" title="").footer__logo
		.footer-menu
			.footer-menu__mobile
			.footer-menu__list
				a(href="#" title="").footer-menu__item Обследования и анализы
				a(href="#" title="").footer-menu__item Здоровье от А до Я
				a(href="#" title="").footer-menu__item Лекарства
				a(href="#" title="").footer-menu__item Врачи
				a(href="#" title="").footer-menu__item Клиники
				a(href="#" title="").footer-menu__item Сервисы