.footer {
	box-shadow: 2px -2px 2px rgba($black, .11);
	padding-bottom: 20px;
	&__wrapper {
		@extend .main;
		align-items: center;
		@media screen and(max-width: 760px) {
			padding-bottom: 0px;
		}
	}
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 0 15px 0;
	&__logo {
		display: block;
		@include bg($logo-footer);
		@media screen and(max-width: 760px) {
			margin: auto;
		}
	}
	@media screen and(max-width: 760px) {
		padding: 15px 0 9px 0;
	}
}
.footer-menu {
	&__list {
		display: flex;
		@media screen and(max-width: 760px) {
			display: none;
		}
	}
	&__item {
		display: block;
		text-decoration: none;
		font-size: 17px;
		color: $light-silver;
		margin: 0 15px;
		text-transform: uppercase;
		@include transition;
		position: relative;
		&:after {
			content: '';
			width: 1px;
			height: 63px;
			display: block;
			position: absolute;
			top: -20px;
    		right: -16px;
    		background: linear-gradient(to bottom,  #fafafb 0%,#e7e8ec 50%,#fafafb 100%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}				
		&:hover {
			text-decoration: underline;
		}
	}
}