.recommend-read {
	width: 276px;
	position: relative;
	margin-bottom: 47px;
	.main-title {
		padding: 15px 0 13px 17px;
		background-color: #eaeaea;
	}
	.main-title:after {
		content: '';
		right: 6px;
		top: 8px;
		position: absolute;
		@include bg($recommend-read);
	}
}
