.recommend-read
{
    position: relative;

    width: auto;
    &__title
    {
        font-weight: bold;

        padding: 11px 0 11px 17px;

        text-transform: uppercase;

        background-color: #eaeaea;

        @extend .main-title;
        @media screen and(max-width: 760px)
        {
            text-align: center;
        }
        @media screen and(max-width: 480px)
        {
            text-align: left;
        }
        &:after
        {
            position: absolute;
            top: 6px;
            right: 6px;

            content: '';

            @include bg($recommend-read);
        }
    }
}
