.recommend-read {
	width: 276px;
	position: relative;
	.main-title {
		padding: 11px 0 11px 17px;
		background-color: #eaeaea;
	}
	.main-title:after {
		content: '';
		right: 6px;
		top: 6px;
		position: absolute;
		@include bg($recommend-read);
	}
}
