mixin recommend-read(data)
	.recommend-read
		.main-title._bold._uppercase Рекомендуем прочитать
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')
		+recommend-read-item('50x50')