mixin social-share(data)
	.social-share
		.social-share__left
			.social-share__title._icon Расскажите друзьям:
			.social-share__bar
				img(src="%=static=%images/content/social-bar.png")
				a(href="javascript:window.print()").button-second._print Распечатать
		.social-share__right
			.social-share__title Оцените статью!
			.social-share__counts-wrapper
				a(href="#" title="").button-second._dislike
				.social-share__counts 156
				a(href="#" title="").button-second._like
