.social-share {
	display: flex;
	justify-content: space-between;
	border: 5px solid #d4d6d7;
	padding: 30px 22px 34px 11px;
	background-color: #fcfcfc;
	margin-bottom: 48px;
	&__title {
		font-size: 20px;
		color: $dark-blue;
		position: relative;
		margin-bottom: 14px;
		&._icon {
			padding-left: 30px;
			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 23px;
				width: 21px;
				@include bg($social-share-icon);
			}
		}
	}
	&__bar {
		width: 549px;
		display: flex;
		justify-content: space-between;
	}
	&__counts-wrapper {
		display: flex;
		justify-content: space-between;
		width: 128px;
	}
	&__counts {
		font-size: 24px;
		color: $green;
		display: inline-block;
		vertical-align: top;
		padding-top: 8px;
	}
}