.our-offer__search-wrapper {
	box-shadow: 0 0 7px 0 rgba(0,0,0,.14);
	padding-bottom: 28px;
	margin-bottom: 30px;
}
.our-offer__search-wrapper._good-doctor {
	.our-offer__title {
		font-size: 22px;
		padding-left: 92px;
		@media screen and(max-width: 760px) {
			padding-left: 174px;
		}
		@media screen and(max-width: 480px) {
			padding-left: 92px;
		}
		&:before {
			content: '';
			@include bg($search-doctor);
			position: absolute;
		    top: 5px;
		    left: 28px;
			@media screen and(max-width: 760px) {
				left: 109px;
			}
			@media screen and(max-width: 480px) {
				left: 25px;
			}
		}
	}	
}
.our-offer__search-wrapper._good-clinic {
	.our-offer__title {
		font-size: 22px;
		padding-left: 92px;
		@media screen and(max-width: 760px) {
			padding-left: 174px;
		}
		@media screen and(max-width: 480px) {
			padding-left: 92px;
		}		
		&:before {
			content: '';
			@include bg($search-clinic);
			position: absolute;
		    top: 5px;
		    left: 28px;
			@media screen and(max-width: 760px) {
				left: 109px;
			}
			@media screen and(max-width: 480px) {
				left: 25px;
			}		    
		}
	}	
}