.interview {
	margin-bottom: 44px;
	padding-bottom: 9px;
	width: 300px;
	position: relative;
	overflow: hidden;
	@media screen and(max-width: 760px) {
		width: 280px;
	}
	.interview__heart-icon {
		position: absolute;
		bottom: 0;
		left: 140px;
		@include bg($heart);
	}	
	&__content {
		width: 183px;
		margin-left: 18px;
	}
	&__title {
		font-size: 21px;
		margin-left: 30px;
	}
	&__select-options {
		margin-top: 15px;
		margin-bottom: 18px;
	}
	&._blue {
		background-color: #e7f6fc;
		padding: 23px 0 20px 0;
		margin-top: 47px;
	}
	&._purple {
		background-color: #fde5e8;
		padding: 23px 0 20px 0;
		margin-top: 49px;
		margin-bottom: 50px;
	}
}
.interview__title._blue {
	color: $blue;
	&:before {
		content: '';
		position: absolute;
		left: 13px;
		@include bg($question);
	}
}
.interview__title._purple {
	color: $purple;
	&:before {
		content: '';
		position: absolute;
		left: 13px;
		@include bg($question-red);
	}	
}