mixin interview(data)
	-var modiffer = attributes.class || ''
	.interview(class="#{modiffer}")
		.interview__content
			.interview__heart-icon
			.interview__title(class="#{modiffer}") Доверяете ли вы отечественной медицине?
			form(method="POST" action="").interview__select-options
				label.radio-block
					input(type="radio" name="" value="").radio-block__field
					span.radio-block__label Да
				label.radio-block
					input(type="radio" name="" value="").radio-block__field
					span.radio-block__label Нет
				label.radio-block
					input(type="radio" name="" value="").radio-block__field
					span.radio-block__label Затрудняюсь ответить
				input(type="submit" value="Ответить" class="#{modiffer}").interview__button.button
