.interview {
	margin-bottom: 64px;
	padding-bottom: 9px;
	width: 276px;
	position: relative;
	overflow: hidden;
	&__title:before {
		content: '';
		position: absolute;
		left: 0;
		@include bg($question);
	}
	&__title {
		font-size: 21px;
		margin-left: 30px;
	}
	&__select-options {
		margin-top: 15px;
		margin-bottom: 18px;
	}
	&._purple {
		.interview__heart-icon {
			position: absolute;
			bottom: 0;
			left: 140px;
			@include bg($heart);
		}
	}
}
.interview__title._blue {
	color: $blue;
}
.interview__title._purple {
	color: $purple;
}