.our-offer__search {
	padding-top: 1px;
	&-inner {
		box-shadow: 0 0 0 1px #d4d6d7 inset;
		padding-bottom: 20px;
		background-color: $white;
		padding-top: 1px;
		width: 241px;
		position: relative;
		@media screen and(max-width: 760px) {
			margin: auto;
			width: 226px;
		}
		@media screen and(max-width: 960px) {
			margin: auto;
			width: 210px;
		}		
	}
	&__title-search {
		color: $dark-orange;
		font-size: 18px;
		margin-top: 26px;
		margin-bottom: 25px;
		&:before {
			content: '';
			left: 43px;
    		top: 29px;
			position: absolute;
			@include bg($search-icon);
			@media screen and(max-width: 760px) {
				
			}	
		}
	}
	&__form {
		width: 201px;
		margin: auto;
		text-align: center;
	}
	.input-form {
		width: 193px;
		height: 28px;
		border-radius: 5px;
		color: #7c7c7c;
		margin-bottom: 15px;
		padding-left: 8px;
		&:nth-last-of-type(1) {
			margin-bottom: 20px;	
		}
	}
}
.our-offer__search._big {
	margin-left: 30px;
	@media screen and(max-width: 760px) {
		margin-left: 0;
	}
	@media screen and(max-width: 960px) {
		margin: 0 20px;
	}	
}
.our-offer__search {
    &._small {
    	.our-offer__title {
    		padding-left: 68px;
		}
		& .our-offer__search-inner {
			margin: auto;
		}
	}
}

