.our-offer__search {
	padding-top: 1px;
	margin-left: 30px;
	&-inner {
		box-shadow: 0 0 0 1px #d4d6d7 inset;
		padding-bottom: 20px;
		background-color: $white;
		padding-top: 1px;
		width: 226px;
		position: relative;
	}
	&__title-search {
		color: $dark-orange;
		font-size: 18px;
		margin-top: 26px;
		margin-bottom: 25px;
		&:before {
			content: '';
			left: 43px;
    		top: 29px;
			position: absolute;
			@include bg($search-icon);
		}
	}
	&__form {
		width: 201px;
		margin: auto;
		text-align: center;
	}
	.input-form {
		width: 193px;
		height: 28px;
		border-radius: 5px;
		color: #7c7c7c;
		margin-bottom: 15px;
		padding-left: 8px;
		&:nth-last-of-type(1) {
			margin-bottom: 20px;	
		}
	}
}
/* .our-offer__search._big {
	.our-offer__title {
		font-size: 28px;
		padding-left: 68px;
		&:before {
			content: '';
			position: absolute;
			@include bg($search-doctor);
			top: 0;
			left: 0;
		}
	}
} */
