.article-item {
	position: relative;
	img {
		display: block;

		width: 100%;
		@media screen and(max-width: 1200px) {
			width: 100%;
			height: auto;
		}
	}
	&__content {
		position: absolute;
		right: 0;
		left: 0;

		box-sizing: border-box;
		width: 96%;
		margin: auto;
		padding: 5px 0 5px 11px;

		background-color: rgba($dark-blue, .8);
	}
	&__category {
		display: block;

		margin-top: 3px;

		text-decoration: none;
		text-transform: uppercase;

		color: $red;

		font-size: 12px;

		@include transition;
	}
	&__link {
		display: block;

		margin-top: 3px;

		text-decoration: none;

		color: $white;

		font-size: 16px;

		@include transition;
		&:hover {
			text-decoration: underline;
		}
	}
	&._big {
		width: 470px;
		height: 353px;
		@media screen and(max-width: 960px) {
			width: 100%;
			height: auto;
		}
		.article-item__content {
			bottom: 12px;

			width: 95%;
			padding: 13px 0 19px 23px;
			@media screen and(max-width: 960px) {
				bottom: 134px;
			}
			@media screen and(max-width: 760px) {
				bottom: 0;
			}
			.article-item__link {
				font-size: 20px;
			}
		}
	}
	&._small {
		width: 231px;
		height: 173px;
		@media screen and(max-width: 1200px) {
			width: 49%;
		}
		@media screen and(max-width: 760px) {
			width: 50%;
			height: auto;
			margin-bottom: 0;
		}
		.article-item__content {
			bottom: 5px;
		}
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 7px;
			@media screen and(max-width: 760px) {
				margin-bottom: 0;
			}
		}
	}
}
