.article-item {
	position: relative;
	&__content {
		background-color: $dark-blue;
		padding: 5px 0 5px 11px;
		width: 96%;
		position: absolute;
	    box-sizing: border-box;
	    opacity: 0.8;
	    right: 0;
    	left: 0;
    	margin: auto;
	}
	&__category {
		color: $red;
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		text-decoration: none;
		margin-top: 3px;
	}	
	&__link {
		color: $white;
		display: block;
		font-size: 16px;
		text-decoration: none;
		margin-top: 3px;
	}		
	&._big {
		width: 470px;
		height: 353px;
		.article-item__content {
			bottom: 10px;
			width: 95%;
			padding: 13px 0 19px 23px;
			.article-item__link {
				font-size: 20px;
			}
		}
	}
	&._small {
		width: 231px;
		height: 173px;
		.article-item__content {
			bottom: 4px;
		}
		&:nth-child(1),
		&:nth-child(2) {
			margin-bottom: 7px;
		}
	}

}


