mixin article-item(imagesize)
	- var modiffer = attributes.class || ''
	.article-item(class="#{modiffer}")
		img(src="http://placehold.it/#{imagesize}" alt="")
		.article-item__content
			a(href="#" title="").article-item__category Мужское здоровье
			a(href="#" title="").article-item__link Обезболивающие при цистите у женщин