.card-doctor-wrapper:last-of-type {
	margin-bottom: 30px;
	border-bottom: 1px solid #e6e6e6;
}
.card-doctor {
	display: flex;
	justify-content: space-between;
	padding-top: 20px;
	padding-bottom: 47px;
	border-top: 1px solid #e6e6e6;
	@media screen and(max-width: 760px) {
		display: block;
		padding-bottom: 17px;
	}
	&__left {
		width: 148px;
		@media screen and(max-width: 960px) {
			width: auto;
		}
		@media screen and(max-width: 760px) {
			margin: 0 auto 14px auto;
			text-align: center;
		}
	}
	&__center {
		width: 550px;
		@media screen and(max-width: 960px) {
			width: 59%;
		}		
		@media screen and(max-width: 760px) {
			width: 100%;
			margin-bottom: 8px;
		}
	}
	&__counts-comments {
		padding: 5px 0;
		background-color: #fdf9de;
		width: 89px;
		margin: 11px auto 0 auto;
		text-align: center;
		border: 1px solid #ccc;
		border-radius: 5px;
		position: relative;
		&-text {
			color: #005497;
			font-style: italic;
			font-weight: 300;
		}
	}
	&__crooked-triangle {
		position: absolute;
		@include bg($crooked-triangle);
		bottom: -9px;
		width: 12px;
		height: 9px;
	}
	&__photo {
		border: 1px solid #999;
		border-radius: 6px;
		@media screen and(max-width: 1025px) {
			width: 100%;
			height: auto;
		}
		@media screen and(max-width: 760px) {
			width: auto;
		}	
	}
	&__fio {
		font-size: 18px;
		display: block;
		font-weight: bold;
		color: $dark-blue;
		margin-bottom: 6px;
		text-decoration: none;
		@media screen and(max-width: 760px) {
			text-align: center;
		}
		&:hover {
			color: $blue;
			@include transition;
		}
	}
	&__speciality {
		font-size: 14px;
		margin-bottom: 8px;	
		@media screen and(max-width: 760px) {
			text-align: center;
		}		
	}
	&__expirience {
		font-size: 14px;
		margin-bottom: 16px;
		@media screen and(max-width: 760px) {
			text-align: center;
			margin-bottom: 8px;
		}		
	}
	&__address-metro-wrapper {
		display: flex;
		margin-bottom: 7px;
		@media screen and(max-width: 760px) {
			display: table;
			margin: 0 auto 8px auto;
		}
	}
	&__address-metro_item {
		position: relative;
		padding-left: 16px;
		margin-right: 5px;
		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: 0;			
		}
		&:nth-child(1):before {
			@include bg($metro-yellow);	
		}
		&:nth-child(2):before {
			@include bg($metro-dark-red);	
		}
		&:nth-child(3):before {
			@include bg($metro-violet);	
		}				
	}
	&__address-street {
		font-style: italic;
		border-bottom: 1px dashed $black;
		display: inline-block;
		margin-bottom: 17px;
		@media screen and(max-width: 760px) {
			text-align: center;
			border-bottom: none;
			margin-bottom: 4px;
		}			  
	}
	&__description {
		margin-bottom: 20px;
		@media screen and(max-width: 760px) {
			padding: 0 15px;
    	}
	}
	@media screen and(max-width: 760px) {
		&__price {
			padding-left: 15px;
		}
	}
	&__right {
		width: 130px;
		@media screen and(max-width: 960px) {
			width: 15%;
		}		
		@media screen and(max-width: 760px) {
			width: auto;
		}
	}
	&__rating-number {
		color: $silver;
		text-align: right;
		font-size: 22px;
		font-weight: 300;
		line-height: 22px;
		& span {
			color: #7ba041;
			font-weight: bold;
			font-size: 32px;
		}
	}
}
.card-doctor-rating {
	text-align: right;
	line-height: 1;
	@media screen and(max-width: 760px) {
		text-align: center;
	}	
	&__current-rating {
		color: #7ba041;
		font-weight: bold;
		font-size: 32px;
		&._small {
			font-size: 26px;
		}
	}
	&__max-rating {
		font-size: 22px;
		color: $silver;
	}
	&__text {
		text-align: right;
		font-size: 14px;
		margin-bottom: 21px;
		position: relative;
		top: -5px;
		@media screen and(max-width: 760px) {
			text-align: center;
			margin-bottom: 8px;
		}
	}
}
@media screen and(max-width: 760px) {
	.card-doctor__rating-wrapper {
		margin: auto;
    	display: table;
	}
}