.card-doctor {
	display: flex;

	padding-top: 20px;
	padding-bottom: 47px;

	border-top: 1px solid #e6e6e6;

	justify-content: space-between;
	@media screen and(max-width: 760px) {
		display: block;

		padding-bottom: 17px;
	}
	&:last-of-type {
		margin-bottom: 30px;

		border-bottom: 1px solid #e6e6e6;
	}
	&__left {
		width: 148px;
		@media screen and(max-width: 960px) {
			width: auto;
		}
		@media screen and(max-width: 760px) {
			margin: 0 auto 14px;

			text-align: center;
		}
	}
	&__comments-text {
		color: #005497;

		font-weight: 300;
		font-style: italic;
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}
	}
	&__center {
		width: 550px;
		@media screen and(max-width: 960px) {
			width: 59%;
		}
		@media screen and(max-width: 760px) {
			width: 100%;
			margin-bottom: 8px;
		}
	}
	&__counts-comments {
		position: relative;

		width: 89px;
		margin: 11px auto 0;
		padding: 5px 0;

		text-align: center;

		border: 1px solid #ccc;
		border-radius: 5px;
		background-color: #fdf9de;
	}
	&__crooked-triangle {
		position: absolute;
		bottom: -9px;

		width: 12px;
		height: 9px;

		@include bg($crooked-triangle);
	}
	&__photo {
		border: 1px solid #999;
		border-radius: 6px;
		@media screen and(max-width: 1025px) {
			width: 100%;
			height: auto;
		}
		@media screen and(max-width: 760px) {
			width: auto;

		}
	}
	&__fio {
		display: block;

		margin-bottom: 6px;

		text-decoration: none;

		color: $dark-blue;

		font-size: 18px;
		font-weight: bold;

		@include transition;
		@media screen and(max-width: 760px) {
			text-align: center;
		}
		@media screen and(max-width: 480px) {
			font-size: 21px;
		}
		&:hover {
			color: $blue;
		}
	}
	&__speciality {
		margin-bottom: 8px;

		font-size: 14px;
		@media screen and(max-width: 760px) {
			text-align: center;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}		
	}
	&__expirience {
		margin-bottom: 16px;

		font-size: 14px;
		@media screen and(max-width: 760px) {
			margin-bottom: 8px;

			text-align: center;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}			
	}
	&__metro-wrapper {
		display: flex;

		margin-bottom: 7px;
		@media screen and(max-width: 760px) {
			display: table;

			margin: 0 auto 8px;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}			
	}
	&__street {
		display: inline-block;

		margin-bottom: 17px;

		border-bottom: 1px dashed $black;

		font-style: italic;
		@media screen and(max-width: 760px) {
			margin-bottom: 4px;

			text-align: center;

			border-bottom: none;
		}
		@media screen and(max-width: 480px) {
			text-align: center;
			display: block;
			font-size: 17px;
			margin-bottom: 12px;
		}
	}
	&__description {
		margin-bottom: 20px;
		@media screen and(max-width: 760px) {
			padding: 0 15px;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
			line-height: 26px;
			text-align: justify;
		}
	}
	&__price {
		@media screen and(max-width: 760px) {
			padding-left: 15px;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}		
	}
	&__metro-item {
		position: relative;

		margin-right: 5px;
		padding-left: 16px;
		&:before {
			position: absolute;
			top: 2px;
			left: 0;

			content: "";
		}
		&._yellow-icon:before {
			@include bg($metro-yellow);
		}
		&._murrey-icon:before {
			@include bg($metro-dark-red);
		}
		&._violet-icon:before {
			@include bg($metro-violet);
		}
	}
	&__right {
		width: 130px;
		@media screen and(max-width: 960px) {
			width: 15%;
		}
		@media screen and(max-width: 760px) {
			width: auto;
		}
	}
	&__button {
		float: right;

		box-sizing: border-box;
		padding: 7px;

		text-align: center;

		background-color: #00469a;

		font-size: 14px;
		@media screen and(max-width: 480px) {
			padding: 14px;
			font-size: 17px;
		}
		&:hover {
			background-color: lighten(#00469a, 2%);
		}
	}
	&__rating-wrapper {
		@media screen and(max-width: 760px) {
			display: table;

			margin: auto;
		}
	}
}
.card-doctor-rating {
	text-align: right;

	line-height: 1;
	@media screen and(max-width: 760px) {
		text-align: center;
	}
	&__current-rating {
		color: #7ba041;

		font-size: 32px;
		font-weight: bold;
		&._small {
			font-size: 26px;
		}
	}
	&__max-rating {
		color: $silver;

		font-size: 22px;
	}
	&__text {
		position: relative;
		top: -5px;

		margin-bottom: 21px;

		text-align: right;

		font-size: 14px;
		@media screen and(max-width: 760px) {
			margin-bottom: 8px;

			text-align: center;
		}
		@media screen and(max-width: 480px) {
			font-size: 17px;
		}		
	}
}
