mixin card-doctor(imagesize)
	.card-doctor
		.card-doctor__left
			img(src="https://dummyimage.com/#{imagesize}/cccccc/000.png" alt="").card-doctor__photo
			.card-doctor__counts-comments 
				.card-doctor__crooked-triangle
				.card-doctor__comments-text 85 отзывов
		.card-doctor__center
			a(href="#" title="").card-doctor__fio Сергейко Ирина Владимировна
			.card-doctor__speciality Акушер, Гинеколог, Гинеколог-эндокринолог
			.card-doctor__expirience Стаж: <strong>22 года</strong>
			.card-doctor__metro-wrapper
				.card-doctor__metro-item._yellow-icon Марксиситская
				.card-doctor__metro-item._murrey-icon Таганская
				.card-doctor__metro-item._violet-icon Таганская
			.card-doctor__street г. Москва, ул. Александра Солженицына, д. 5, стр.1
			.card-doctor__description.
				Занимается диагностикой и лечением заболеваний кожи: дерматиты различного генеза, экзема, псориаз, себорея, угревая болезнь, розацеа, пиодермии, грибковые заболевания кожи, волос, ногтей, ИППП, различных видов алопеций. Проводит коррекцию
			.card-doctor__price Стоимость приема - 1700 р.
		.card-doctor__right
			.card-doctor__rating-wrapper
				.card-doctor-rating
					span.card-doctor-rating__current-rating 9
					span.card-doctor-rating__current-rating._small .5
					span.card-doctor-rating__max-rating / 10
					.card-doctor-rating__text рейтинг
				.button.card-doctor__button Записаться онлайн
