.clinic-item {
	display: flex;
	justify-content: space-between;
	width: 855px;
	margin: auto;
	border: 1px solid #dedede;
	padding: 24px 23px 9px 13px;
	margin-bottom: 24px;
	@media screen and(max-width: 1200px) {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}		
	@media screen and(max-width: 1025px) {
		width: auto;
		padding-left: 0;
		padding-right: 0;
	}	
	@media screen and(max-width: 960px) {
		width: 100%;
		box-sizing: border-box;
		padding: 24px 9px;
	}
	@media screen and(max-width: 760px) {
		width: auto;
	}
	@media screen and(max-width: 480px) {
		display: block;
		width: 280px;
		padding: 7px 10px;
		box-sizing: border-box;
	}	
	&__left {
		width: 151px;
		@media screen and(max-width: 1025px) {
			width: 23%;	
		}
		img {
			@media screen and(max-width: 960px) {
				width: 100%;
				height: auto;	
			}
		}
		@media screen and(max-width: 760px) {
			margin: auto;
			width: 40%;
		}
		@media screen and(max-width: 480px) {
			width: 100%;
		}
	}
	&__right {
		display: flex;
		justify-content: space-between;		
		width: 690px;
		@media screen and(max-width: 1200px) {
			width: 77%;
		}		
		@media screen and(max-width: 1025px) {
			width: 77%;
		}		
		@media screen and(max-width: 960px) {
			width: 76%;
		}
		@media screen and(max-width: 760px) {
			width: 60%;
			margin-left: 7px;
			display: block;
		}
		@media screen and(max-width: 480px) {
			width: 100%;
		}
		.button._clinic-item {
			background: linear-gradient(to bottom,  #6fc3e1 0%,#1babe0 100%);
			text-align: center;
			border: 1px solid #007ea8;
			padding: 0 28px;
			height: 32px;
			line-height: 32px;
			border-radius: 14px;
			&:hover {
				background: linear-gradient(to bottom,  #1babe0 0%,#6fc3e1 100%);
			}	
			@media screen and(max-width: 760px) {
				display: table;
				margin: auto;
			}
		}				
	}
	&__content {
		width: 458px;
		@media screen and(max-width: 960px) {
			width: 73%;
		}
		@media screen and(max-width: 760px) {
			width: 100%;
			padding-bottom: 7px;
		}
	}
	&__title {
		margin-bottom: 9px;
		text-decoration: none;
		color: $black;
		display: inline-block;
		@media screen and(max-width: 760px) {
			display: table;
			margin: auto;
			padding-bottom: 4px;
		}
	}
	&__metro {
		padding-bottom: 4px;
	}
}