mixin clinic-item(imagesize)
	.clinic-item
		.clinic-item__left
			img(src="https://dummyimage.com/#{imagesize}/cccccc/000.png")
		.clinic-item__right
			.clinic-item__content
				.clinic-item__title._bold Евразия
				.clinic-item__address адрес: 1-й Волконский пер., д. 15
				.clinic-item__metro метро: Цветной бульвар
				.clinic-item__description.
					 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi voluptate optio porro, voluptatibus laudantium. Sequi laboriosam esse incidunt. Sit quidem, placeat sunt tempore deleniti delectus odit earum dolores labore facere.
			.button._clinic-item Записаться