.articles-small-view {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin-bottom: 24px;
	@media screen and(max-width: 760px) {
		padding: 0 10px;
		width: auto;
		margin: auto;
	}
	@media screen and(max-width: 960px) {
		padding: 0 10px;
	}
}