.articles-small-view {
	display: flex;

	margin-bottom: 24px;

	flex-flow: row wrap;
	justify-content: space-around;
	@media screen and(max-width: 960px) {
		padding: 0 10px;
	}
	@media screen and(max-width: 760px) {
		width: auto;
		margin: auto;
	}
}
