mixin header(data)
	.header
		a(href="#" title="").header__logo
		.header-menu
			.header-menu__mobile
			.header-menu__list
				a(href="#" title="").header-menu__item Обследования и анализы
				a(href="#" title="").header-menu__item Здоровье от А до Я
				a(href="#" title="").header-menu__item Лекарства
				a(href="#" title="").header-menu__item Врачи
				a(href="#" title="").header-menu__item Клиники
				a(href="#" title="").header-menu__item Сервисы
		.header-search
			.header-search__mobile
			.header-search__form
				.header-search__icon