.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-top: 17px;
	&__logo {
		display: block;
		@include bg($logo-header);
	}
}

.header-menu {
	&__list {
		display: flex;
	}
	&__item {
		display: block;
		margin: 0 15px;
		text-decoration: none;
		color: $dark-blue;
		font-size: 17px;
		border-bottom: 1px solid $blue;
		&:hover {
			color: $blue;
			border-color: $red;
			@include transition;
		}
	}
}

.header-search {
	&__form {

	}
	&__icon {
		cursor: pointer;
		@include bg($search-header);
	}
}