mixin header(data)
	.header
		.header__wrapper
			a(href="#" title="").header__logo
			.header-menu
				.header-menu__mobile
				.header-menu__list
					.header-menu__item
						a(href="#" title="") Обследования и анализы
					.header-menu__item
						a(href="#" title="") Здоровье от А до Я
						.header-menu-dropdown
							.header-menu-dropdown__column
								.header-menu-dropdown__item 
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
							.header-menu-dropdown__column
								.header-menu-dropdown__item 
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
							.header-menu-dropdown__column
								.header-menu-dropdown__item 
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
								.header-menu-dropdown__item
									a(href="#" title="") Офтальмология
					.header-menu__item
						a(href="#" title="") Лекарства
					.header-menu__item
						a(href="#" title="") Врачи
					.header-menu__item
						a(href="#" title="") Клиники
					.header-menu__item
						a(href="#" title="") Сервисы
			.header-search
				.header-search__mobile
				.header-search__wrapper
					.header-search__form
						input(type="text" placeholder="Поиск").input-form
						input.button._blue(type="submit" value="Найти")
				.header-search__form
					.header-search__icon