.header {
	width: 100%;
	margin-bottom: 37px;
	padding-top: 18px;
	padding-bottom: 20px;

	box-shadow: 2px 2px 2px rgba($black, .11);
	@media screen and(max-width: 960px) {
		margin-bottom: 0;
	}
	&__wrapper {
		position: relative;

		align-items: center;
		@extend .main;
		@media screen and(max-width: 960px) {
			width: auto;
			padding: 0 10px;
		}
	}
	&__logo {
		display: block;

		text-indent: -9999px;

		@include bg($logo-header);
		@media screen and(max-width: 1025px) {
			margin-bottom: 15px;
		}
		@media screen and(max-width: 960px) {
			margin: auto;

			@include bg($logo-mobile-header);
			order: 2;
		}
	}
}

.header-menu {
	@media screen and(max-width: 960px) {
		order: 1;
	}
	&__mobile {
		display: none;
		@media screen and(max-width: 960px) {
			display: block;

			@include bg($header-menu-mobile);
			&._active {
				@include bg($close);
			}
		}
	}
	&__list {
		display: flex;

		justify-content: space-between;
		@media screen and(max-width: 960px) {
			position: absolute;
			z-index: 999;
			top: 57px;
			left: 0;

			display: none;

			width: 100%;
		}
	}
	&__item {
		position: relative;

		padding-top: 22px;
		padding-bottom: 22px;
		@media screen and(max-width: 960px) {
			display: block;

			margin: 0;
			padding: 19px 0 17px 0;

			text-align: center;

			border-bottom: 1px solid #dfe3e7;
			background-color: #f7f7f7;
		}
		&:after {
			position: absolute;
			top: 0;
			right: 0;

			display: block;

			width: 1px;
			height: 63px;

			content: "";

			background: linear-gradient(to bottom,  #fafafb 0%,#e7e8ec 50%,#fafafb 100%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
		& > a {
			display: inline-block;

			margin: 0 30px;
			padding-bottom: 2px;

			text-decoration: none;
			text-transform: uppercase;

			color: $dark-blue;
			border-bottom: 2px solid $blue;

			font-size: 17px;

			@include transition;
			@media screen and(max-width: 1200px) {
				margin: 0 10px;
			}
			@media screen and(min-width: 961px) {
				&:hover {
					color: $blue;
					border-color: $red;
				}
			}
		}
		&._dropdown {
			&:before {
				// caret
				@media screen and(max-width: 960px) {
					position: absolute;
					top: 27px;

					content: "";

					border-top: 4px dashed;
					border-top: 4px solid\9;
					border-right: 4px solid transparent;
					border-left: 4px solid transparent;
				}
			}
			@media screen and(min-width: 961px) {
				&:hover {
					background-color: #f7f7f7;
					box-shadow: 0 -3px 7px rgba(19,49,82,.43);
				}
				&:hover > .header-menu-dropdown {
					visibility: visible;

					opacity: 1;
					@media screen and(max-width: 960px) {
						display: none;
					}
				}
			}
		}
	}
}
.header-menu-dropdown {
	position: absolute;
	z-index: 99;
	top: 56px;

	display: flex;
	visibility: hidden;

	width: 500px;
	padding: 28px 20px;

	opacity: 0;
	background-color: #f7f7f7;
	box-shadow: 0 0 7px rgba(19,49,82,.43);

	align-items: flex-start;
	justify-content: space-between;
	&__item {
		margin-bottom: 11px;
		& > a {
			width: 166px;
			padding-bottom: 2px;

			text-align: left;
			text-decoration: none;

			color: #2f4d6f;
			border-bottom: 2px solid #14a2dd;

			font-size: 17px;

			@include transition;
			&:hover {
				color: $blue;
				border-color: $red;
			}
		}
	}
	&._offset-left {
		right: 0;
		left: auto;
	}
	&._offset-right {
		right: auto;
		left: 0;
	}
	&._active {
		display: block;
		visibility: visible;

		width: 100%;
		padding-right: 0;
		padding-left: 0;

		opacity: 1;
	}
}
.header-search {
	order: 3;
	@media screen and(max-width: 960px) {
		order: 3;
	}
	&__wrapper {
		position: absolute;
		z-index: 999;
		top: 66px;
		left: 0;

		display: none;

		width: 100%;
		@media screen and(max-width: 1025px) {
			top: 101px;
		}
		@media screen and(max-width: 960px) {
			top: 57px;
		}
	}
	&__form {
		display: flex;

		width: 100%;

		justify-content: space-between;
		.input-form {
			box-sizing: border-box;
			width: 100%;
			padding-left: 10px;

			border-radius: 5px 0 0 5px;
			@media screen and(max-width: 960px) {
				box-sizing: border-box;
				width: 100%;
				height: auto;
				padding-left: 10px;
			}
		}
	}
	&__icon {
		cursor: pointer;

		@include bg($search-header);
		@media screen and(max-width: 960px) {
			display: none;
		}
	}
	._search-submit {
		width: 97px;

		border-top-left-radius: 0;
		border-bottom-left-radius: 0;

		font-size: 18px;
		line-height: 50px;
	}
	&__mobile {
		@media screen and(max-width: 960px) {
			@include bg($search-mobile-header);
			&._active {
				@include bg($close);
			}
		}
	}
}
