mixin header(data)
	.header
		.header__wrapper
			a(href="#" title="").header__logo
			.header-menu
				.header-menu__mobile
				.header-menu__list
					a(href="#" title="").header-menu__item Обследования и анализы
					.header-menu__dropdown
						a(href="#" title="").header-menu__item Здоровье от А до Я
						.header-menu__dropdown-content
							.header-menu__dropdown-content-inner
								.header-menu__dropdown-items-wrapper
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
								.header-menu__dropdown-items-wrapper
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
								.header-menu__dropdown-items-wrapper
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
									a(href="#" title="").header-menu__item._dropdown Лекарства
					a(href="#" title="").header-menu__item Лекарства
					a(href="#" title="").header-menu__item Врачи
					a(href="#" title="").header-menu__item Клиники
					a(href="#" title="").header-menu__item Сервисы
			.header-search
				.header-search__mobile
					.header-search__wrapper
						.header-search__form
							input(type="text" placeholder="Поиск").input-form
							input(type="submit" value="Найти")
				.header-search__form
					.header-search__icon