.header {
	padding-bottom: 20px;
	box-shadow: 2px 2px 2px rgba($black, .11);
	margin-bottom: 37px;
	width: 100%;
	padding-top: 18px;
	@media screen and(max-width: 960px) {
		margin-bottom: 0;
	}	
	@media screen and(max-width: 760px) {
		margin-bottom: 0;
	}
	&__wrapper {
		@extend .main;
		/* align-items: center; */
		position: relative;
		@media screen and(max-width: 960px) {
			padding: 0 10px;
			width: auto;
		}		
		@media screen and(max-width: 760px) {
			padding: 0 10px;
			width: auto;
		}
	}
	&__logo {
		display: block;
		@include bg($logo-header);
		@media screen and(max-width: 1025px) {
			margin-bottom: 15px;
		}
		@media screen and(max-width: 960px) {
			@include bg($logo-mobile-header);
			margin: auto;
			order: 2;
		}		
		@media screen and(max-width: 760px) {
			@include bg($logo-mobile-header);
			margin: auto;
			order: 2;
		}
	}
}

.header-menu {
	@media screen and(max-width: 960px) {
		order: 1;
	}	
	@media screen and(max-width: 760px) {
		order: 1;
	}
	&__mobile {
		display: none;
		@media screen and(max-width: 960px) {
			display: block;
			@include bg($header-menu-mobile);
			cursor: pointer;
			&._active {
				@include bg($close);
				cursor: pointer;
			}			
		}
		@media screen and(max-width: 760px) {
			display: block;
			@include bg($header-menu-mobile);
			cursor: pointer;
			&._active {
				@include bg($close);
				cursor: pointer;
			}
		}
	}
	&__list {
		display: flex;
		justify-content: space-between;
		@media screen and(max-width: 960px) {
			display: none;
			position: absolute;
			top: 57px;
			left: 0;
			z-index: 999;
    		width: 100%;
		}				
		@media screen and(max-width: 760px) {
			display: none;
			position: absolute;
			top: 57px;
			left: 0;
			z-index: 999;
    		width: 100%;
		}
	}
	&__item {
		position: relative;
		padding-top: 22px;
		padding-bottom: 22px;
		& > a {
			display: inline-block;
			margin: 0 30px;
			text-decoration: none;
			color: $dark-blue;
			font-size: 17px;
			border-bottom: 2px solid $blue;
			text-transform: uppercase;
			padding-bottom: 2px;
			&:hover {
				color: $blue;
				border-color: $red;
				@include transition;
			}
		}
		&._dropdown {
			&:hover {
				background-color: #f7f7f7;
				box-shadow: 0 -3px 7px 0 rgba(19,49,82,.43);
			}
			&:hover > .header-menu-dropdown {
				visibility: visible;
				opacity: 1;
				@media screen and(max-width: 960px) {
					display: none;
				}		
				@media screen and(max-width: 760px) {
					display: none;
				}		
			}			
		}		

		@media screen and(max-width: 960px) {
			display: block;
			text-align: center;
			border-bottom: 1px solid #dfe3e7;
			padding: 19px 0 17px 0;
			background-color: #f7f7f7;
			margin: 0;
		}		
		@media screen and(max-width: 760px) {
			display: block;
			text-align: center;
			border-bottom: 1px solid #dfe3e7;
			padding: 19px 0 17px 0;
			background-color: #f7f7f7;
			margin: 0;
		}
		&:after {
			content: '';
			width: 1px;
			height: 63px;
			display: block;
			position: absolute;
			top: 0;
			right: 0;
    		background: linear-gradient(to bottom,  #fafafb 0%,#e7e8ec 50%,#fafafb 100%);
		}
		&:last-child {
			&:after {
				display: none;
			}
		}
	}
	&-dropdown {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		top: 56px;
		z-index: 99;
		background-color: #f7f7f7;
		box-shadow: 0 0 7px 0 rgba(19,49,82,.43);
		padding: 28px 20px;
		display: flex;
		width: 500px;
		align-items: flex-start;
		justify-content: space-between;
		&__item {
			margin-bottom: 11px;
			& > a {
				text-align: left;
				text-decoration: none;
			    color: #2f4d6f;
			    font-size: 17px;
			    border-bottom: 2px solid #14a2dd;
			    padding-bottom: 2px;
				width: 166px;
				&:hover {
					color: $blue;
					border-color: $red;
					@include transition;
				}
			}
		}
		&._offset-left {
			right: 0;
			left: auto;
		}
		&._offset-right {
			left: 0;
			right: auto;
		}
	}
}

.header-search {
    order: 3;
    @media screen and(max-width: 960px) {
		order: 3;
	}	    
    @media screen and(max-width: 760px) {
		order: 3;
	}
	&__wrapper {
		display: none;
		width: 100%;
    	position: absolute;
    	left: 0;
    	z-index: 999;
    	top: 56px;
	}
	&__form {
		.input-form {
			width: 100%;
			@media screen and(max-width: 960px) {
				width: 100%;
				height: 30px;
				padding-left: 10px;
				box-sizing: border-box;				
			}			
			@media screen and(max-width: 760px) {
				width: 100%;
				height: 30px;
				padding-left: 10px;
				box-sizing: border-box;
			}			
		}
	}
	&__icon {
		cursor: pointer;
		margin-top: 27px;
		@include bg($search-header);
		@media screen and(max-width: 960px) {
			display: none;
		}					
		@media screen and(max-width: 760px) {
			display: none;
		}
	}
	@media screen and(max-width: 960px) {
		&__mobile {
			@include bg($search-mobile-header);
			cursor: pointer;
			&._active {
				@include bg($close);
				cursor: pointer;
			}
		}
	}		
	@media screen and(max-width: 760px) {
		&__mobile {
			@include bg($search-mobile-header);
			cursor: pointer;
			&._active {
				@include bg($close);
				cursor: pointer;
			}
		}
	}
	&__form {
		width: 100%;
		display: flex;
		justify-content: space-between;
	}
}