.article-small-view {
	display: flex;
	justify-content: space-around;
	width: 310px;
	margin-bottom: 22px;
	@media screen and(max-width: 760px) {
		width: 300px;
	}	
	&__right {
		padding-top: 7px;
		padding-left: 13px;
	}
	&__category {
		color: $red;
	    text-transform: uppercase;
	    font-size: 12px;
	}
	&__link {
		color: $blue;
	    text-decoration: none;
	    border-bottom: 1px solid #daeaf6;
	    @include transition;
		&:hover {
			border-bottom: 1px solid #14a2dd;
		}	    
	}	
}