mixin article-small-view(data)
	.article-small-view
		img(src="http://placehold.it/110x85" alt="")
		.article-small-view__right
			.article-small-view__category Мужское здоровье
			.article-small-view__link Лекарства от головокружения у пожилых людей