.article-small-view {
	display: flex;

	width: 310px;
	margin-bottom: 22px;

	align-items: flex-start;
	justify-content: space-around;
	@media screen and(max-width: 1200px) {
		width: 30%;
	}
	@media screen and(max-width: 760px) {
		display: flex;

		width: 50%;
	}
	@media screen and(max-width: 480px) {
		display: block;

		width: 100%;
	}
	img {
		@media screen and(max-width: 760px) {
			width: 100%;
			height: auto;
		}
	}
	&__right {
		padding-top: 7px;
		padding-left: 13px;
		@media screen and(max-width: 480px) {
			padding-left: 0;
		}
	}
	&__category {
		text-transform: uppercase;

		color: $red;

		font-size: 12px;
	}
	&__link {
		text-decoration: none;

		color: $blue;
		border-bottom: 1px solid #daeaf6;

		@include transition;
		@media screen and(max-width: 480px) {
			font-size: 20px;
		}
		&:hover {
			border-bottom: 1px solid #14a2dd;
		}
	}
}
