mixin article-small-view(data)
	.article-small-view
		div 
			img(src="http://placehold.it/104x77" alt="")
		.article-small-view__right
			.article-small-view__category Мужское здоровье
			a(href="#" title="").article-small-view__link Лекарства от головокружения у пожилых людей