mixin article-small-view(imagesize)
	.article-small-view
		div 
			img(src="https://dummyimage.com/#{imagesize}/cccccc/000.png" alt="")
		.article-small-view__right
			.article-small-view__category Мужское здоровье
			a(href="#" title="").article-small-view__link Лекарства от головокружения у пожилых людей