.category {
	margin-bottom: 45px;
	&:last-child {
		margin-bottom: 0;
	}
	&__title {
		position: relative;

		margin-bottom: 20px;
		padding-left: 33px;

		color: $dark-blue;

		font-size: 24px;
		&:before {
			position: absolute;
			top: 6px;
			left: 0;

			content: "";

			@include bg($category-icon);
		}
		br {
			display: none;
			@media screen and(max-width: 760px) {
				display: block;
			}
		}
		a {
			text-decoration: none;

			color: $dark-blue;
			border-bottom: 2px solid $blue;

			@include transition;
			&:hover {
				border-color: $red;
			}
		}
	}
}
.category-list {
	padding-left: 30px;
}
