mixin our-offer(data)
	.our-offer
		.our-offer__title Ищите врача?
		.our-offer-search
			.our-offer-search__title Ищите врача?
			form.our-offer-search__form
				select.input-form
					option Седьмая улица
					option Седьмая улица
				select.input-form
					option Седьмая улица
					option Седьмая улица					
