mixin our-offer(data)
	- var modiffer = attributes.class || ''
	.our-offer(class="#{modiffer}")
		h1.our-offer__title._bold._text-center Нужен хороший врач?
		.our-offer__search
			.our-offer__title-search._bold._text-center Поиск врача
			.our-offer__form
				select(type="text").input-form
					option Чиланзар
					option Юнус-абад
				select(type="text").input-form
					option Чиланзар
					option Юнус-абад
				.button._light-blue._middle Найти
