.our-offer {
	width: 439px;
	box-shadow: 0 0 0 5px #d4d6d7;
	padding-top: 1px;
	padding-bottom: 31px;
	position: relative;
	&__title {
		font-size: 28px;
		color: $dark-blue;
		margin-top: 24px;
		&:before {
			content: '';
			left: 37px;
			position: absolute;
			@include bg($search-doctor);
		}
	}
	&__search {
		width: 226px;
		box-shadow: 0 0 0 2px #d4d6d7 inset;
		padding-top: 1px;
		margin-left: 30px;
		padding-bottom: 20px;
		background-color: $white;
	}
	&__title-search {
		color: $dark-orange;
		font-size: 18px;
		margin-top: 29px;
		margin-bottom: 25px;
	}
	&__form {
		width: 201px;
		margin: auto;
		text-align: center;
	}
	.input-form {
		width: 193px;
		height: 28px;
		margin-bottom: 15px;
		padding-left: 8px;
		&:nth-last-of-type(1) {
			margin-bottom: 20px;	
		}
	}
	&._good-doctor {
		background: url(%=static=%general/good-doctor.jpg) no-repeat;
	}
	&._good-clinic {
		background: url(%=static=%general/good-clinic.jpg) no-repeat;
	}	
}
