.our-offer {
	width: 439px;
	box-shadow: 0 0 2px 5px rgba($black, .14);
	padding-top: 1px;
	padding-bottom: 31px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	&__title {
		color: #2f4d6f;
		position: relative;
	}
	&._good-doctor {
		background-image: url(%=static=%general/good-doctor.jpg);
		.our-offer__title {
			padding-left: 68px;
			&:before {
				content: '';
				@include bg($search-doctor);
				position: absolute;
			    top: -5px;
			    left: 0;
			}
		}
	}
	&._good-clinic {
		background-image: url(%=static=%general/good-clinic.jpg);
		.our-offer__title {
			padding-left: 68px;
			&:before {
				content: '';
				@include bg($search-clinic);
				position: absolute;
			    top: -5px;
			    left: 0;
			}
		}
	}	
}
