.services
{
    position: relative;
    &__title
    {
        font-weight: bold;

        padding: 11px 0 11px 17px;

        text-transform: uppercase;

        background-color: #eaeaea;

        @extend .main-title;
        &:after
        {
            position: absolute;
            top: 4px;
            right: 6px;

            content: '';

            @include bg($services);
        }
    }
}
