.services
{
    position: relative;
    .main-title
    {
        padding: 11px 0 11px 17px;

        background-color: #eaeaea;
        &:after
        {
            position: absolute;
            top: 4px;
            right: 6px;

            content: '';

            @include bg($services);
        }
    }
}
