.search-desease-item {
    display: block;

    margin-bottom: 6px;

    font-size: 17px;
    @media screen and(max-width: 760px) {
        text-align: center;
    }
    @media screen and(max-width: 480px) {
        margin-bottom: 18px;
    }
    a {
        text-decoration: none;

        color: $dark-blue;
        border-bottom: 1px solid $blue;

        @include transition;
        &:hover {
            color: $blue;
            border-color: $red;
        }
    }
}
