.search-desease-item {
	font-size: 17px;
	display: block;
	margin-bottom: 6px;
	&:hover {
		border-bottom: none;
	}
	a {
		color: $dark-blue;
		border-bottom: 1px solid $blue;
		text-decoration: none;
		@include transition;
		&:hover {
			border-color: $red;
			color: $blue;
		}
	}
}