.comment {
	margin-bottom: 23px;
	padding: 22px 72px 25px 0;

	background-color: #f7f7f7;
	@media screen and(max-width: 760px) {
		padding-right: 10px;
	}
	p {
		position: relative;

		padding-left: 50px;

		font-style: italic;
		&:before {
			position: absolute;
			top: 0;
			left: 16px;

			content: "";

			@include bg($message-icon);
		}
	}
}
