.our-offers {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	margin-bottom: 41px;
	@media screen and(max-width: 760px) {
		padding: 0 10px;
		margin: 0 auto 32px auto;
		width: auto;
	}
}