mixin service-item(data)
	- var modiffer = attributes.class || ''
	.service-item(class="#{modiffer}")
		.service-item__content
			a(href="#" title="").service-item__link Проверка симптомов
			.service-item__description Укажите симптомы и узнайте предварительный диагноз 