.service-item {
	width: 276px;
	padding: 16px 0;
	position: relative;
	border-bottom: 1px solid #ddd;
	background-color: #f7f7f7;
	&__content {
		width: 233px;
		margin: auto;
		&:before {
			content: '';
			position: absolute;
			@include bg($transcript-analyzes);			
		}
	}	
	&__link {
	    color: $blue;
	    display: block;
	    font-size: 18px;
	    text-decoration: none;
	    letter-spacing: -0.1px;
	    border-bottom: 1px solid #daeaf6;
	    display: inline-block;
	    margin-left: 58px;
	    @include transition;
		&:hover {
			border-bottom: none;
		}	    
	}
	&__description {
		font-size: 14px;
		color: #666;
		line-height: 21px;
		margin-left: 58px;
	}
}
