mixin pagination(data)
	ul.pagination
		li.pagination__goto._prev: a(href="#" title="") Следующая
		.pagination__wrapper-items
			li.pagination__item._current-item: a(href="#" title="") 1
			li.pagination__item: a(href="#" title="") 2
			li.pagination__item: a(href="#" title="") 3
			li.pagination__item: a(href="#" title="") 4
			li.pagination__item: a(href="#" title="") 5
			li.pagination__item: a(href="#" title="") 6
			li.pagination__item: a(href="#" title="") 7
			li.pagination__item: a(href="#" title="") 8
			li.pagination__item: a(href="#" title="") 9
		li.pagination__goto._next: a(href="#" title="") Следующая
