mixin pagination(data)
	ul.pagination
		a(href="#").pagination__item →
		a(href="#").pagination__item 1
		a(href="#").pagination__item 2
		a(href="#").pagination__item 3
		a(href="#").pagination__item 4
		a(href="#").pagination__item 5
		a(href="#").pagination__item 6
		a(href="#").pagination__item 7
		a(href="#").pagination__item 8
		a(href="#").pagination__item 9
		a(href="#").pagination__item →