mixin pagination(data)
	.pagination
		li.pagination-item 1
		li.pagination-item 2
		li.pagination-item 3
		li.pagination-item 4
		li.pagination-item 5
		li.pagination-item 6
		li.pagination-item 7
		li.pagination-item 8
		li.pagination-item 9