.pagination
{
    display: flex;

    margin: 0;
    margin-bottom: 95px;
    padding: 0;

    border-bottom: 4px solid #f7f7f7;

    justify-content: space-between;
    @media screen and(max-width: 960px)
    {
        margin: 0 auto 32px;
        padding: 0 10px;
    }
    @media screen and(max-width: 760px)
    {
        width: auto;
    }
    @media screen and(max-width: 480px)
    {
        width: 280px;
        padding: 0;
    }
    &__wrapper-items
    {
        display: flex;

        width: 691px;

        justify-content: space-between;
        @media screen and(max-width: 960px)
        {
            overflow: hidden;
        }
        @media screen and(max-width: 760px)
        {
            width: 100%;
        }
        @media screen and(max-width: 480px)
        {
            width: 213px;
        }
    }
    &__item
    {
        font-size: 22px;
        font-weight: bold;

        text-align: center;
        a
        {
            display: block;

            padding: 0 31px;

            text-decoration: none;

            color: $silver;
            @media screen and(max-width: 1200px)
            {
                padding: 0 15px;
            }
            @media screen and(max-width: 960px)
            {
                padding: 0 10px;
            }
            &:hover
            {
                padding-bottom: 4px;

                color: $dark-blue;
                border-bottom: 4px solid #0089b5;
            }
        }
        &._current-item
        {
            a
            {
                padding-bottom: 4px;

                color: $dark-blue;
                border-bottom: 4px solid #0089b5;
            }
        }
    }
    &__goto
    {
        text-align: center;
        a
        {
            padding: 7px 13px 7px 11px;

            text-decoration: none;

            color: $light-silver;
            background-color: #ededed;

            @include transition;
            @media screen and(max-width: 960px)
            {
                line-height: 30px;

                padding: 7px 0;
            }
            &:hover
            {
                background: darken(#ededed, 2%);
            }
        }
        @media screen and(max-width: 960px)
        {
            overflow: hidden;

            width: 64px;

            text-overflow: ellipsis;

            background-color: #ededed;
        }
    }
}
