.category-item {
	position: relative;

	display: block;

	margin-bottom: 5px;
	padding-left: 15px;

	@include transition;
	&:hover {
		text-decoration: none;
	}
	&:before {
		position: absolute;
		top: 5px;
		left: 0;

		width: 7px;
		height: 7px;

		content: "";

		border-radius: 50%;
		background-color: #ef5363;
	}
	a {
		text-decoration: none;

		color: #00a3dd;
		border-bottom: 1px solid #89d0ee;

		@include transition;
		&:hover {
			border-color: #00a3dd;
		}
	}
}
